<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<!--<p th:text="${list}"></p>-->
<a href="/toinsert">增加</a>
<table class="table table-striped table table-hover">
    <tbody>
    <tr>
        <td>编号</td>
        <td>姓名</td>
        <td>操作</td>
    </tr>
    <tr th:each="stu:${list}">
        <td th:text="${stu.stuid}"></td>
        <td th:text="${stu.stuname}"></td>

    </tr>


    </tbody>

</table>

</body>
</html>